# Android
.gradle/
/local.properties
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.iml
.idea/
/*.keystore

# Ignore Firebase config file that may contain keys
android/app/firebase_config.json

# Kotlin/IntelliJ
*.kotlin_module

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp/
.pnp.js

# Build outputs
dist/
build/

# Env files
.env
.env.*

# web specific possible local config
web/src/firebaseConfig.js

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary
tmp/
temp/

# Coverage
coverage/

# VS Code
.vscode/
